.container {
    width: 80%;
    margin: 0 auto;
}

.tabs {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.tab-button {
    padding: 10px 20px;
    cursor: pointer;
    border: none;
    background-color: #f4f4f4;
    margin: 0 5px;
    font-size: 16px;
}

.tab-button.active {
    background-color: #ddd;
    font-weight: bold;
}

.tab-content {
    display: none;
}

.tab-content.active {
    display: block;
}

h1 {
    text-align: center;
}

.card {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.card h2 {
    text-align: center;
}

.list-header, .list-item {
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
    border-bottom: 1px solid #ddd;
}

.list-header {
    font-weight: bold;
}

.profile-column, .pr-count-column, .review-count-column, .total-bills-column{
    display: flex;
    flex-direction: column;
    flex: 1;
    align-items: center;
}

.badges-column {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    flex: 1;
    align-items: center;
}

.badges-column img {
    width: 25px;
    height: 25px;
    margin: 5px;
    transition: transform 0.5s ease;
}

.badges-column img:hover {
    transform: scale(4);
    z-index: 10;
}

.profile {
    display: flex;
    align-items: center;
}

.profile img {
    border-radius: 50%;
    margin-right: 10px;
}