<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="activity_style.css">
    <title>GitHub Activity</title>
</head>
<body>
    <h1>GitHub Activity</h1>
    <div class="hamburger-menu">
        <button class="hamburger-button">&#9776;</button>
        <%- include('partials/nav') %>
    </div>
    <div>
        <label for="pr_from">PR From:</label>
        <input type="number" id="pr_from" name="pr_from">
        <label for="pr_to">PR To:</label>
        <input type="number" id="pr_to" name="pr_to">
        <button id="fetchButton">Fetch Activity</button>
    </div>
    <div id="progress-container">
        <div id="progress-bar"></div>
    </div>
    <div id="activity-results">
        <!-- Results will be displayed here -->
    </div>
    <script src="/activity_script.js"></script>
</body>
</html>